<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Pattern Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/style-aiur.css}" rel="stylesheet">
</head>
<body id="aiur">
<nav id="aiur-nav">
    <resize-handle id="aiur-nav-resize-handle" for="aiur-nav" direction="x" remember=""></resize-handle>

    <ul>
        <li><a href="/">Hello World</a></li>
        <li th:each="group : ${groups}">
            <a th:href="${#mvc.url('PLC#index').arg(0, group.uri).build()}" th:text="${group.name}"></a>
            <ul th:if="${not #lists.isEmpty(group.entries)}">
                <li th:each="entry : ${group.entries}">
                    <a th:href="${#mvc.url('PLC#index').arg(0, entry.mainExample.uri).build()}" th:text="${entry.mainExample.name}"></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<main id="aiur-doc">
    <th:block layout:fragment="content"></th:block>
</main>
<script th:src="@{/script-aiur.js}"></script>
</body>
</html>