.flex-wrap {
  --space: #{$spacer-base};
  overflow: hidden;

  > * {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--space) / 2);
  }

  > * > * {
    margin: calc(var(--space) / 2);
  }
}